openapi: 3.0.2
info:
    title: Testing ORAS
    version: 1.0.0
paths:
    /upload_oras:
        post:
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/tType1'
                required: true
            responses:
                '200':
                    content:
                        application/json: {}
                    description: Respnse description
    /upload_s3:
        post:
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/tType1'
                required: true
            responses:
                '200':
                    content:
                        application/json: {}
                    description: Respnse description
components:
    schemas:
        tType1:
            description: tType1 description
            required:
                - var1
                - fileName
            type: object
            properties:
                var1:
                    description: var1 description
                    type: string
                fileName:
                    format: binary
                    description: fileName description
                    type: string
